---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	pubDate={new Date('March 06 2026')}
>
        <h4>關於我</h4>
	<p>
 	   我是 Balicanta Yao 姚昀廷，這個這麼難唸的名字，其實是因為在高中選帳號的時候，試了各種組合都重覆，我也不想加生日在後面，手邊剛好有一本 Rolling Stone 的雜誌，氣到直接找一個最難唸的名字，
           於是就選到了Lola Ray 主唱的 John Balicanta，接下來在各個網站註冊的時候就非常順暢了，就一直用到現在快 40 歲了。
        </p>

        <p>
           在公司的英文名字，我會使用 Redick Yao。因為當時進入我的第一個實習工作，取這個 Balicanta 實在太不好唸，當時又很愛 Duke 大學的 NCAA 的射手 J.J. Redick. 長的帥又準，現在是湖人隊總教練。
	</p>

  	<p>
	  我目前的主要工作是兩個孩子的爸爸，除了每天固定的上下班時間以外，都在陪伴家人以及小孩。
	</p>

	<h4>關於這個網站的內容</h4>
	<p>
	  其實來來回回，我曾經花了很多時間在寫 Blog ，這個<a href="https://balicantayao.github.io/">Github Page</a> 就是在 2013 年開始一直到 2019 的一些嘗試，不過也都斷斷續續的，我想反省幾個會中斷的理由：
        </p>
        <ul>
 	  <li> 
            功利目的性太強，當時我還在軟體工程師活的很掙扎的階段，還在追逐薪資成長的路上。其實寫 Blog 很多時候是想要在面試的時候拿出來證明些什麼，或是跟同事證明自己是一個會在下班之餘研究些什麼的人。
	  </li>
	  <li>
           太著重在工具，我忘記一開始是使用什麼，我只記得，我每次搬一個Blog 我都會找哪個 Sytax Highghliter 比較好看，現在想起來超無聊，那個可能真的不是重點。平台的使用，我試過 Wordpress, Medium, Hexo 等，至少我有印象的，我就
             搬過 4 次家。
           </li>
	  <li>
 	    太想要有流量，又太怕給人家看，這是一種非常矛盾的心態，我一方面很天真的認為我寫了一篇文章，關鍵字就要找到我，我會去裝各種 SEO 的 Tool，然後每天 serch 一下我預期的那個關鍵字，我排在第幾名；但同時我又很不想要我的同
 	    看到我的 Blog ，因為我覺得蠻尷尬的，所以常常就會掉入一種自我內耗。
	  </li>
	</ul>
	</p>

 	<p>
	   幾年過去了，慢慢的可能年紀也比較大了，對這世界稍微有點認識了，針對過去的問題，我可以逐一的找到答案了。
	   <ul>
		<li>
		  這次的網站也是有個目的，就是希望記錄我的一些想法，一些學習，我常常大量在吸取資訊，但是我沒有試著轉化成我自己的話說出來，我就覺得我並沒有好好的對待這些資訊，而輸出應該是一種不錯的學習方法，
		  而寫下一些文字可能又是輸出裡面最簡單的。
		</li>
		<li>
		  工具其實是最不重要的事情，持續的保持輸出習慣才是。 
		</li>
		<li>
		  我在這世界上，真的沒有這麼重要，相對別人來說，其實大部分的人都不在意我在幹麼，真正在意我在幹麼的，或許只有我自己，和我週圍的少數幾個人，所以想寫就寫吧。
		</li>	
           </ul>
	</p>
</Layout>
